/* 
COLORS
dark green      #006838
dark orange     #c82034
background yellow #ffdc89
footer darkgray  #6d757d
*/

/*
FONTS
Header 'Lora' weight '700'
Subhea  'Lora' weight '700' 
Navbar 'Readex Pro'
Bodycopy 'Readex Pro'
Bodyitalic 'Spectral' font-style 'italic' 
*/

/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,500&family=Readex+Pro&family=Spectral:ital,wght@0,200;1,200&display=swap");

* {
  box-sizing: border-box;
}

/*FONTS------------------*/
.headerfont {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 3em;
}

#headersub {
  font-family: "Lora", serif;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  margin-top: -1em;
}

.secsubfon {
  font-family: "Lora", serif;
  font-weight: 500;
}

.asisubfon {
  font-family: "Spectral", serif;
}

footer p {
  line-height: 2em;
}

.footcopyr {
  font-size: 8pt;
}

/*LAYOUT--------------*/

body {
  background-color: #ffdc89;
}

header,
section,
footer {
  width: 98%;
  margin: 1em;
  padding: 1em;
}

header {
  color: #006838;
  background-color: #ffe8d5;
  height: 16em;
}

nav {
  position: relative;
  display: inline-block;
}

footer {
  background-color: #6d757d;
  color: #ffffff;
  height: 12em;
  padding-top: 2em;
  font-family: "Readex Pro", sans-serif;
}

#footcol1 {
  float: left;
  height: 8em;
  width: 30%;
  border-right: 2px solid #ffffff;
  text-align: center;
}

#footcol2 {
  float: left;
  width: 70%;
  text-align: center;
}

#footrow:after {
  content: "";
  display: table;
  clear: both;
}

/*HEADER LOGO*/

.logo {
  margin-left: 2em;
  margin-right: 1em;
  float: left;
}

/*NAVBAR*/

.navbar {
  font-family: "Readex-Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.navitem {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: #c82034;
}

.navitem:hover {
  background-color: #006838;
  color: #ffffff;
}

.navactive {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: #006838;
  text-transform: uppercase;
}

/* ------FORM------ */
