/* 
COLORS
dark green      #006838
dark orange     #c82034
*/

/* * {
    margin: 0;
    box-sizing: border-box;
} */

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,500&family=Readex+Pro&family=Spectral:ital,wght@0,200;1,200&display=swap');


body{
    padding: 1em;
    background-color: bisque;
}

/*MASTHEAD - HEADER*/
header{
    width: 95%;
    color: #006838;
    background-color: #ffffff;
    padding: 1em 1em 5em 1em;
}

.logo{
    margin-left: 2em;
    margin-right: 1em;
    float: left; 
}

.headerfont{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 3em;
}


#headersub{
    font-family: 'Lora', serif;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
    margin-top: -1em;
}

/*NAV - NAVBAR*/
.navbar{
    font-family: 'Readex-Pro', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: -3em 4em 0em 4em;
}

.navitem{
    display: inline-block;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color:#c82034;
}

.navitem:hover{
    background-color: #006838;
    color: #ffffff;
}

.navactive{
    display: inline-block;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color:#006838;
    text-transform: uppercase;
}


