/* 
COLORS
dark green      #006838
dark orange     #c82034
*/

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,500&family=Readex+Pro&family=Spectral:ital,wght@0,200;1,200&display=swap');


body{
    padding: 2em;
    background-color: bisque;
}

header{
    width: 95%;
    color: #006838;
    background-color: #ffffff;
    padding: 1em 1em 5em 1em;
}

.logo{
    margin-left: 3em;
    margin-right: 1em;
    float: left; 
}

.fonthead{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 3em;
}


#headersub{
    font-family: 'Lora', serif;
    font-weight: 500;
    text-align: left;
    margin-top: -1em;
}

.fontnav{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 2em;
    position: relative;
    margin: -3em;
}

.navitem{
    display: block;
    float: left;
    padding: 1em;
    text-decoration: none;
    color:#c82034;
}

.navitem:hover{
    background-color: #006838;
    color: #ffffff;
}


.fontsub{
    font-family: 'Lora', serif;
    font-weight: 500;
    text-align: center;
}

.fontbod{
    font-family: 'Readex Pro', sans-serif;
}

.fontbodital{
    font-family: 'Spectral', serif;
    font-style: italic;
}

.fontbloq{
    font-family: 'Readex Pro', sans-serif;
}

.fontside{
    font-family: 'Lora', serif;
    font-weight: 200;
}



